<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/website.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Rudra</title>
  </head>
  <body class="bg-[#1C2951]">
    <nav class="text-white text-xl">
      <div class="mx-auto flex justify-between py-4 px-16 items-center">
        <div>
          <div>
            <a
              href="/"
              class="flex items-center text-center hover:text-[#0afa94]"
            >
              <img
                src="/img/channels4_profile.jpg"
                alt=""
                class="w-12 h-12 rounded-full"
              />
              <h1 class="ml-6 link">Rudra</h1>
            </a>
          </div>
        </div>
        <div>
          <ul class="flex space-x-6 items-center">
            <li class="link hover:text-[#0afa94]">
              <a href="/about">about</a>
            </li>
            <li class="link hover:text-[#0afa94]">
              <a href="/projects">projects</a>
            </li>
            <li class="link hover:text-[#0afa94]">
              <a href="/skills">skills</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="px-16">
      <div class="py-4">
        <h1 class="text-[#0afa94] text-2xl text-center">PROJECTS</h1>
      </div>
      <div class="flex justify-between items-center py-8">
        <div class="bg-white items-center w-64 text-left rounded-md">
          <div class="justify-center">
            <a href="https://slack-7d75f.firebaseapp.com/" target="_blank">
              <img
                src="https://a.slack-edge.com/80588/marketing/img/meta/slack_hash_256.png"
                alt=""
                class="ml-6 cursor-pointer w-52 rounded-full py-2"
              />
            </a>
          </div>
          <div class="ml-4">
            <div>
              <a
                href="https://slack-7d75f.firebaseapp.com/"
                class="text-[#0afa94]"
                target="_blank">Slack Clone</a
              >
            </div>
            <div>
              <li>It's my first website.</li>
              <li>I used VSCode editor.</li>
              <li>I used reactjs and redux.</li>
              <li>It's an easy website to make.</li>
            </div>
          </div>
        </div>
        <div>
          <img class="w-96" src="/img/screenshot3.png" alt="" />
        </div>
      </div>
      <hr />
      <div class="flex justify-between items-center py-8">
        <div class="bg-white items-center w-64 text-left rounded-md">
          <div class="justify-center">
            <a href="https://slack-7d75f.firebaseapp.com/" target="_blank">
              <img
                src="https://th.bing.com/th/id/OIP.Jtl3Zg6FDexe-1X0we4WtwHaHa?pid=ImgDet&rs=1"
                alt=""
                class="ml-6 cursor-pointer w-52 rounded-full py-2"
              />
            </a>
          </div>
          <div class="ml-4">
            <div>
              <a
                href="https://app-imessage-com.firebaseapp.com/"
                class="text-[#0afa94]"
                target="_blank">iChat</a
              >
            </div>
            <div>
              <li>It's my second website.</li>
              <li>I used VSCode editor.</li>
              <li>I used reactjs and redux.</li>
              <li>It's an easy website to make.</li>
            </div>
          </div>
        </div>
        <div>
          <img class="w-96" src="/img/screenshot4.png" alt="" />
        </div>
      </div>
      <hr />
      <div class="flex justify-between items-center py-8">
        <div class="bg-white items-center w-64 text-left rounded-md">
          <div class="justify-center">
            <a href="https://eventhub2.netlify.app/" target="_blank">
              <img
                src="https://eventhub2.netlify.app/Images/logo.png"
                alt=""
                class="ml-6 cursor-pointer w-52 rounded-full py-2"
              />
            </a>
          </div>
          <div class="ml-4">
            <div>
              <a
                href="https://slack-7d75f.firebaseapp.com/"
                class="text-[#0afa94]"
                target="_blank">Eventhub</a
              >
            </div>
            <div>
              <li>It's my third website.</li>
              <li>I used VSCode editor.</li>
              <li>I used html,css and js</li>
              <li>It's an easy website to make.</li>
            </div>
          </div>
        </div>
        <div>
          <img class="w-96" src="/img/screenshot5.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
